// Color palette: https://mycolor.space/?hex=%236202EE&sub=1

$primary: #6202EE;
$primary-light: #BAA1D5;
$gray: #4B4453;
$bg-color: var(--background-color);
$color: var(--color);
$word-bg-color: #B1A8B9;
