@use "colors" as colors;
@import "header.scss";
@import "home.scss";
@import "novels.scss";
@import "novel.scss";
@import "chapter.scss";
@import "pagination.scss";
@import "button.scss";
@import "fonts.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: LexendVariable, Lexend, sans-serif;
  height: 100%;

  &.light-mode {
    --color: #1F1926;
    --background-color: white;
  }

  &.dark-mode {
    --color: white;
    --background-color: #1F1926;
  }
}

main {
  background-color: colors.$bg-color;
  color: colors.$color;
  min-height: calc(100% - 56px);
  padding: 0 20px;
  overflow: auto;

  @media screen and (min-width: 767px) {
    padding: 0 20%;
    min-height: calc(100% - 112Px);
  }
}

a.link {
  text-decoration-line: none;
  color: colors.$color;

  &:hover {
    opacity: .5;
  }
}
